<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="athqrpay.ddg.com.demoapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProductList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AMDRX480">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.athmovildemoapp.com"
                    android:pathPattern="*"
                    android:pathPrefix="/amd"
                    android:scheme="http" />/>

                <data
                    android:host="amd"
                    android:scheme="athmovildemoapp" />

            </intent-filter>
        </activity>
        <activity
            android:name=".NVIDIAGTX1060"
            android:theme="@style/AppThemeAlt">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.athmovildemoapp.com"
                    android:pathPattern="*"
                    android:pathPrefix="/nvidia"
                    android:scheme="http" />/>

                <data
                    android:host="nvidia"
                    android:scheme="athmovildemoapp" />
            </intent-filter>
        </activity>
    </application>

</manifest>